<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Админ страна</title>

    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-theme.min.css" rel="stylesheet" />
   
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/css/styles.css" rel="stylesheet" />
</head>
<body>
    <div ng-app="adminModule">
            @RenderBody()
    </div>

    <script src="~/scripts/jquery-3.1.0.min.js"></script>
    <script src="~/scripts/angular.min.js"></script>
    <script src="~/scripts/angular-route.min.js"></script>
    <script src="~/scripts/angular-ui-router.min.js"></script>
    <script src="~/scripts/bootstrap.js"></script>
    <script src="~/scripts/angular-ui/ui-bootstrap-tpls.min.js"></script>

    <script type="text/javascript" src="@Href("/app/modules/admin.module.js")"></script>
    <script type="text/javascript" src="@Href("/app/controllers/admin.controller.js")"></script>
    <script type="text/javascript" src="@Href("/app/controllers/reservation.controller.js")"></script>
    <script type="text/javascript" src="@Href("/app/controllers/addUser.controller.js")"></script>
    <script type="text/javascript" src="@Href("/app/controllers/roomInfo.controller.js")"></script>
    <script type="text/javascript" src="@Href("/app/controllers/floor.controller.js")"></script>

    <script type="text/javascript" src="@Href("/app/filters/filters.js")"></script>
    <script type="text/javascript" src="@Href("/app/services/admin.service.js")"></script>
</body>
</html>
